/*
    Color Pallet:

    Main Color:
    Secondary Color:
    Off Color:
    Background Color:
*/

/* FONTS */

@font-face {
    font-family: "Kenyan Coffee";
    src: url("./fonts/kenyan coffee rg.ttf") format("ttf");
}

/* STYLES */

body 
{
    background-color: #333;
    font-family: "Kenyan Coffee";
    overflow-x: hidden;
}

.main-logo {
    height: 50px;
}

.bg-dark {
    background-color: #1A1A1D!important;
    border-bottom: 3px solid #d11013;
}

.header-text 
{
    color: #222;
    font-size: 1.5em;
    display: inline-block;
    padding: 3px 10px;
    margin-right: 50px;
    border-bottom: 2px solid black;
    font-weight: bold;
}

.item {
    border-radius: 0px!important;
}

.undefined 
{
    background-color: #11ad3b!important;
    color: white!important;
}

.item.filetype 
{
    background-color: #d11013!important;
    color: white!important;
}

.item.size 
{
    background-color: #1119ad!important;
    color: white!important;
}

#filter-parent {
    width: 50vw;
    max-width: 600px;
}

.selectize-control {
    width: 50vw!important;
    max-width: 600px;
}

#images-count 
{
    float: right;
    color: white;
    background-color: #d11013;
    padding: 5px 10px; 
    font-size: 12px;
    font-weight: normal;
}

.btn-main 
{
    background-color: #222;
    color: white;
    border: 1px solid #222;
}

.btn-main:hover 
{
    color: #222;
    background-color: white;
}

.btn-main.active 
{
    background-color: white;
    color: #222;
    border: 1px solid #222;
}

.btn-main.active:hover 
{
    color: white;
    background-color: #222;
}

.dropzone 
{
    border: 2px dashed #222;
    border-radius: 20px;
}

.dz-button 
{
    color: #222!important;
    font-weight: bold!important;
    margin-top: 7px;
}

.dz-error-mark 
{
    display: none;
}

#image-list 
{
    display: flex;
    flex-wrap: wrap;
}

.lb-container 
{
    background-color: #222;
}

.image 
{
    /*margin: 15px;*/
    border: 5px solid #222;
    background-color: #222;
    box-shadow: 0px 0px 13px 2px;
    position: relative;
}



.delete-button 
{
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: white;
    background-color: #da291c;
    border-radius: 5px;
    padding: 3px 7px;
    opacity: 0;
    transition: 0.5s;
    cursor: pointer;
}

.image:hover > .delete-button 
{
    opacity: 1;
}


.noSymbols
{
    margin-bottom: 3px;
    padding-left: 3px;
    list-style-type: none;
}

nav
{
    position: fixed; 
    top: 0;
}

nav form input, button
{
    margin-right: 4px;
}

#registerBtn
{
    margin-left: 10px;
}

.studentbox
{
    border: 3px solid black;
    margin: 1em;
    padding-top: 1em;
}

#addBtn
{
    margin: 1%;
}

nav span a
{
    color: white;
}

#feedreaderForm
{
    margin: 1%;
}

#feedreaderForm input
{
    width: 50%;
}

#feedreaderForm button
{
    padding-left: 2em;
}

#feeds
{
    margin-top: 1%;
}

.btn-main {
    color: white;
    background-color: transparent;
    border: 0;
    border-radius: 0;
}

.btn-main-reversed {
    color: white;
    background-color: #d11013;
    border: 0;
    border-radius: 0;
}

.btn-main-reversed:hover {
    color: #d11013;
    background-color: white;
}

.btn-main:hover {
    border-radius: 0;
    color: white;
    background-color: #d11013;
}

.input-main {
    border: 0px;
    color: white;
    background-color: transparent;
    border-bottom: 2px solid #d11013;
    border-radius: 0;
    outline: none;
}

.input-main:focus {
    background-color: transparent;
    outline: none;
    color: white;
    border-bottom: 2px solid white;
    box-shadow: 0 0 0 0 rgba(40, 167, 69, 0.25);
}

.selectize-input {
    border: 0px;
    color: white!important;
    background-color: transparent;
    border-bottom: 2px solid #d11013;
    border-radius: 0;
    outline: none;
}

.selectize-input {
    background-color: transparent;
    outline: none;
    border-bottom: 2px solid white;
    border-color: #d11013!important;
    border-radius: 0!important;
    box-shadow: 0 0 0 0 rgba(40, 167, 69, 0.25)!important;
}

.selectize-dropdown {
    border-radius: 0px!important;
    top: 30px!important;
    border: 2px solid #d11013!important;
    background-color: #1A1A1D!important;
    color: white!important;
}

.active .option {
    background-color: #d11013AA!important;
}

.create {
    margin-left: 12px;
    margin-top: 3px;
    background-color: transparent!important;
    color: #d11013!important;
}

.optgroup-header {
    background-color: transparent!important;
    color: #d11013!important;
}

.selectize-dropdown .optgroup:before {
    background-color: #d11013!important;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    border-left: 2px solid #000;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 0px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #d11013AA;
    border-radius:0px;
  }

  .modal-dark {
      background-color: #1A1A1D;
      border: 2px solid #d11013;
      color: white!important;
      border-radius: 0px;
  }

  .modal-dark-header {
      border-bottom: 2px solid #d11013;
  }

  .modal-dark-footer {
    border-top: 2px solid #d11013;
  }

  .alert {
      border-radius: 0px!important;
      border: 2px solid #d11013!important;
      background-color: #1A1A1D!important;
      color: white!important;
  }

  button {
    outline: none !important;
    box-shadow: none;
 }

 .user {
     color: #d11013;
     margin-right: 10px;
 }

 .grid-item { width: 200px;margin-bottom: 20px; }
 
.grid-iamge {
    width: 100%;
    border-radius: 20px;
}

.uploader {
    text-align: center;
    border: 2px solid #d11013;
    border-radius: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#uploadPreview {
    width: 100%;
}

#mapid {
    height: calc(100vh - 80px);
    background-color: #191A1A;
}

#adm	{
	padding-top: 2em;
	padding-bottom: 100%;
	padding-left: 1em;
	background-color: white;
}
tr{
	padding-right: 1em;
}

td	{
	border: 1px solid black;
	padding-right: 3em;
}

.test {
    width: 100%!important;
}

footer
{
    padding-top: 0.75em;
    position: fixed; 
    bottom: 0;
}

footer a 
{
    text-align: center;
    color: white;
}

footer a:hover {
    color: white;
}

.impressumagb
{
        padding-top: 4em;;
        padding-bottom: 10em;
	width: 60%;
	margin: 0 auto;
        color: #FFF;
}

.impressumagb a
{
    color: white;
    text-decoration: underline;
}

.impressumagb #uschriftimpressum
{
	margin-bottom: 3em;
	font-weight: 900;
}

.impressumagb h3
{
	font-weight: 600;
	color: #AAA;
	text-decoration: underline;
}

.impressumagb h4
{
	color: #AAA;	
	font-weight: 100;
}

.impressumagb li
{
	margin-left: 1em;
}